download
example/build/*
example/GPhoto2FrameworkInfo.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
example/GPhoto2FrameworkInfo.xcodeproj/project.xcworkspace/xcshareddata/*.xccheckout
example/GPhoto2FrameworkInfo.xcodeproj/xcuserdata/*.xcuserdatad
dmg/contents/
dmg/*.dmg
dmg/yoursway-create-dmg/

.DS_Store
